body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-audiowide: 'Audiowide';
  
    /* font sizes */
    --font-size-xl: 1.25rem;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-a1: #9bcdcd80;
  
    /* Border radiuses */
    --br-3xl: 22px;
    --br-43xl: 42px;
    --br-8xs-8: 4.8px;

    /* Cursor PNGs URL */
    --cursor-default-url: url('./New-Chrome Assets/light/cursor/pointer.cur');
    --cursor-pointer-url: url('./New-Chrome Assets/light/cursor/link.cur');
    --cursor-text-url: url('./New-Chrome Assets/light/cursor/beam.cur');
  }
  